@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');

:root {
    --header-nav-height: 60px;
}

* {
    font-family: Inter, sans-serif;
}

body {
    background-color: #181818;
}

a {
    cursor: pointer;
}

.header {
    width: 100%;
    height: var(--header-nav-height);
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.header__nav {
    display: flex;
}

.header__nav li {
    height: 100%;
    display: inline;
    float: left;
}

.header__nav a {
    padding: 10px;
    color: #ddd;
    line-height: var(--header-nav-height);
    font-weight: 300;
}

.header__nav li:hover {
    background-color: #333;
}

.header__socials {
    width: 125px;
    display: flex;
    align-items: center;
}

.header__social-icon {
    height: 40%;
}
